In [1]:
import pandas as pd

## Create dataFrames using datasets

In [2]:
# Customers's  Dataframe 
df_customers = pd.read_csv('./datasets/churn_customers.csv')

In [3]:
# Show 5 first rows
df_customers.head(5)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [4]:
# Show 5 last rows
df_customers.tail(5)

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [5]:
# Show structure/ schema of the dataframe
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [6]:
# Show Datafram of the services
df_services = pd.read_csv('./datasets/churn_services.csv')

In [7]:
# show 5 first rows
df_services.head(5)

,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Yes,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Yes,No,Fiber optic,No,No,No,No,No,No

In [8]:
# Show 5 last rows
df_services.tail(5)

,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
7038,6840-RESVB,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes
7039,2234-XADUH,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
7040,4801-JZAZL,No,No phone service,DSL,Yes,No,No,No,No,No
7041,8361-LTMKD,Yes,Yes,Fiber optic,No,No,No,No,No,No
7042,3186-AJIEK,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [9]:
# Show structure/ schema of the dataframe
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0    customerID       7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [10]:
# Show Datafram of the contracts
df_contracts = pd.read_csv('./datasets/churn_contracts.csv')

In [11]:
# show 5 first rows
df_contracts.head(5)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
# Show 5 last rows
df_contracts.tail(5)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [13]:
# Show structure/ schema of the dataframe
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

# Transformação de Dados

In [14]:
# transformar coluna TotalCharges para float (float precisa de um valor numero para ser convertido)
# df_contracts.TotalCharges = df_contracts.TotalCharges.astype(float)

# transformar coluna TotalCharges de string para float
# df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges)

# transformar coluna TotalCharges de string para float - Abordagem 3 (to_numeric com coerce)
# Quando nÃo encontra um valor para conversão por exemplo, o coerce tranforma isso em null
df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges, errors='coerce')
# Após a conversão da coluna TotalCharges do dataframe contracts, a colunas passou a ter 11 linhas valores nulos (missing values)

# ------------------------------------------------------------

# mostrar estrutura do dataframe
df_contracts.info()

# mostrar as 5 primeiras linhas do dataframe
df_contracts.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Renomear colunas

In [15]:
# renomear colunas no dataframe, usando rename e dicionário (metodo 1)
# df_contracts = df_contracts.rename(columns={'TotalCharges': 'TotalCharges'})

# renomear colunas no dataframe, usando rename e dicionário (metodo 2)
# df_contracts.rename(columns={'TotalCharges': 'TotalCharges'}, inplace=True)

# mostrar as 5 primeiras linhas do dataframe
# df_contracts.head(5)
# df_contracts.info()

# Rename usadno Lista = Modificar todos os nomes de colunas de uma vez
df_contracts.columns = ['id', 'customer_id', 'contract_id', 'total_charges', 'contract_type', 'contract_start_date', 'contract_end_date', 'contract_status']

# mostrar as 5 primeiras linhas do dataframe
df_contracts.info()
df_contracts.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   7043 non-null   object
 1   customer_id          7043 non-null   int64
 2   contract_id          7043 non-null   object
 3   total_charges        7043 non-null   object
 4   contract_type        7043 non-null   object
 5   contract_start_date  7043 non-null   float64
 6   contract_end_date    7032 non-null   float64
 7   contract_status      7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_end_date,contract_status
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Unificar Dataframes de Customer, services e Contrats

In [26]:
# Contar quantidade de registros por dataframe
print(f"Quantidade de registros do dataframe df_customers: {len(df_customers)}")
print(f"Quantidade de registros do dataframe df_services: {len(df_services)}")
print(f"Quantidade de registros do dataframe df_contracts: {len(df_contracts)}")

# renomear colunas
# df_services.rename(columns={'customer_id': 'customerID'}, inplace=True)

# univar dataframes de customer com services criando um terceiro dataframe
df_temp = df_customers.merge(df_services, on='customerID')

# mostrar as 5 primeiras linhas do dataframe
df_temp.info()

# df_customers.info()
# df_services.info()

Quantidade de registros do dataframe df_customers: 7043
Quantidade de registros do dataframe df_services: 7043
Quantidade de registros do dataframe df_contracts: 7043
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
dtypes: int64(1), object(13)
memory usage: 770.5+ KB

In [37]:
# unificar df_temp com df_contractsm usando colunas de juncao com nomes distintos
df_churn_temp = df_temp.merge(df_contracts, left_on=['customerID'], right_on=['id'])

# mostrar as 5 primeiras linhas do dataframe
df_churn_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customerID           7043 non-null   object
 1   gender               7043 non-null   object
 2   SeniorCitizen        7043 non-null   int64
 3   Partner              7043 non-null   object
 4   Dependents           7043 non-null   object
 5   PhoneService         7043 non-null   object
 6   MultipleLines        7043 non-null   object
 7   InternetService      7043 non-null   object
 8   OnlineSecurity       7043 non-null   object
 9   OnlineBackup         7043 non-null   object
 10  DeviceProtection     7043 non-null   object
 11  TechSupport          7043 non-null   object
 12  StreamingTV          7043 non-null   object
 13  StreamingMovies      7043 non-null   object
 14  id                   7043 non-null   object
 15  customer_id          7043 non-null   int64
 16  contract_id          7043 non-null   object
 17  total_charges        7043 non-null   object
 18  contract_type        7043 non-null   object
 19  contract_start_date  7043 non-null   float64
 20  contract_end_date    7032 non-null   float64
 21  contract_status      7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [38]:
# unificar os 3 dataframes em um unico dataframe, com colunas de juncao com nomes distintos
df_churn = df_customers.merge(df_services, on=['customerID']).merge(df_contracts, left_on=['customerID'], right_on=['id'])

# mostrar as 5 primeiras linhas do dataframe
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customerID           7043 non-null   object
 1   gender               7043 non-null   object
 2   SeniorCitizen        7043 non-null   int64
 3   Partner              7043 non-null   object
 4   Dependents           7043 non-null   object
 5   PhoneService         7043 non-null   object
 6   MultipleLines        7043 non-null   object
 7   InternetService      7043 non-null   object
 8   OnlineSecurity       7043 non-null   object
 9   OnlineBackup         7043 non-null   object
 10  DeviceProtection     7043 non-null   object
 11  TechSupport          7043 non-null   object
 12  StreamingTV          7043 non-null   object
 13  StreamingMovies      7043 non-null   object
 14  id                   7043 non-null   object
 15  customer_id          7043 non-null   int64
 16  contract_id          7043 non-null   object
 17  total_charges        7043 non-null   object
 18  contract_type        7043 non-null   object
 19  contract_start_date  7043 non-null   float64
 20  contract_end_date    7032 non-null   float64
 21  contract_status      7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [44]:
# removendo colunas desnecessarias
# df_churn.drop(columns=['customerID'], axis=1, inplace=True)

# mostrar as 5 primeiras linhas do dataframe
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               7043 non-null   object
 1   SeniorCitizen        7043 non-null   int64
 2   Partner              7043 non-null   object
 3   Dependents           7043 non-null   object
 4   PhoneService         7043 non-null   object
 5   MultipleLines        7043 non-null   object
 6   InternetService      7043 non-null   object
 7   OnlineSecurity       7043 non-null   object
 8   OnlineBackup         7043 non-null   object
 9   DeviceProtection     7043 non-null   object
 10  TechSupport          7043 non-null   object
 11  StreamingTV          7043 non-null   object
 12  StreamingMovies      7043 non-null   object
 13  id                   7043 non-null   object
 14  customer_id          7043 non-null   int64
 15  contract_id          7043 non-null   object
 16  total_charges        7043 non-null   object
 17  contract_type        7043 non-null   object
 18  contract_start_date  7043 non-null   float64
 19  contract_end_date    7032 non-null   float64
 20  contract_status      7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

# Detecção de Valores ausentes

In [45]:
# detectar valores ausentes em todas as colunas do dataframe
df_churn.isna().sum()

# mostrar as 5 primeiras linhas do dataframe
# df_churn.head(5)

gender                  0
SeniorCitizen           0
Partner                 0
Dependents              0
PhoneService            0
MultipleLines           0
InternetService         0
OnlineSecurity          0
OnlineBackup            0
DeviceProtection        0
TechSupport             0
StreamingTV             0
StreamingMovies         0
id                      0
customer_id             0
contract_id             0
total_charges           0
contract_type           0
contract_start_date     0
contract_end_date      11
contract_status         0
dtype: int64

In [47]:
# detectar valores ausentes em uma coluna específica
df_churn['contract_end_date'].isna().sum()

np.int64(11)

In [48]:
# Quantas linhas tem pelo menos uma coluna com valor ausente
df_churn[df_churn.isna().any(axis=1)]

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_end_date,contract_status
488,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,Yes,...,Yes,No,4472-LVYGI,0,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,Male,0,No,Yes,Yes,No,No,No internet service,No internet service,No internet service,...,No internet service,No internet service,3115-CZMZD,0,Two year,No,Mailed check,20.25,NaN,No
936,Female,0,Yes,Yes,Yes,No,DSL,Yes,Yes,Yes,...,Yes,Yes,5709-LVOEQ,0,Two year,No,Mailed check,80.85,NaN,No
1082,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,No internet service,...,No internet service,No internet service,4367-NUYAO,0,Two year,No,Mailed check,25.75,NaN,No
1340,Female,0,Yes,Yes,No,No phone service,DSL,Yes,Yes,Yes,...,Yes,No,1371-DWPAZ,0,Two year,No,Credit card (automatic),56.05,NaN,No
3331,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,No internet service,...,No internet service,No internet service,7644-OMVMY,0,Two year,No,Mailed check,19.85,NaN,No
3826,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,No internet service,...,No internet service,No internet service,3213-VVOLG,0,Two year,No,Mailed check,25.35,NaN,No
4380,Female,0,Yes,Yes,Yes,No,No,No internet service,No internet service,No internet service,...,No internet service,No internet service,2520-SGTTA,0,Two year,No,Mailed check,20.00,NaN,No
5218,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,No internet service,...,No internet service,No internet service,2923-ARZLG,0,One year,Yes,Mailed check,19.70,NaN,No
6670,Female,0,Yes,Yes,Yes,Yes,DSL,No,Yes,Yes,...,Yes,No,4075-WKNIU,0,Two year,No,Mailed check,73.35,NaN,No
6754,Male,0,No,Yes,Yes,Yes,DSL,Yes,Yes,No,...,No,No,2775-SEFEE,0,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [50]:
# Quantas colunas tem ao menos um valor ausente
df_churn.isna().any(axis=0).sum()

np.int64(1)

# Remover valores ausentes

In [51]:
# rempover de forma direta e explicitament a coluna que pussuir valores ausentes
df_churn.drop(columns=['contract_end_date'], axis=1)

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_status
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,5575-GNVDE,34,One year,No,Mailed check,56.95,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,6840-RESVB,24,One year,Yes,Mailed check,84.80,No
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,No
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,No
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,Yes
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,No

In [52]:
# Remover colunas com valores ausentes
df_churn.dropna(axis=1)

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_status
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,5575-GNVDE,34,One year,No,Mailed check,56.95,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,6840-RESVB,24,One year,Yes,Mailed check,84.80,No
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,No
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,No
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,Yes
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,No

In [53]:
# Remover colunas onde todos os valores são ausentes
df_churn.dropna(axis=1, how='all')

# # Remover linhas onde todos os valores são ausentes
# df_churn.dropna(axis=0, how='all')

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_end_date,contract_status
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,No,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,...,No,No,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,...,No,No,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,...,No,No,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Yes,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Yes,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,No,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,No,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Yes,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

# Altarar valores ausentes

In [54]:
# preencher valores ausentes com um valor específico
df_churn.fillna(0)

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_end_date,contract_status
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,No,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,...,No,No,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,...,No,No,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,...,No,No,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Yes,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Yes,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,No,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,No,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Yes,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [56]:
# Preencher valores padrão conforme a coluna
df_churn.fillna(value={'contract_end_date': 0, 'gender':  'Não declarado'})

# Preencher valores padrão conforme a coluna
# df_churn.fillna({'contract_end_date': '2020-01-01'})

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_end_date,contract_status
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,No,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,...,No,No,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,...,No,No,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,...,No,No,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Yes,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Yes,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,No,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,No,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Yes,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [60]:
# preencher valores ausentes com a média dos valores
media_contract_end_date = df_churn.contract_end_date.mean()
media_contract_end_date

df_churn.fillna(value={'contract_end_date': media_contract_end_date, 'gender':  'Não declarado'})

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,id,customer_id,contract_id,total_charges,contract_type,contract_start_date,contract_end_date,contract_status
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,No,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,...,No,No,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,...,No,No,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,...,No,No,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Yes,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Yes,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,No,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,No,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Yes,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No